/HerefordSecuritiesLtd/HerefordSecuritiesLtd.csproj.user

/HerefordSecuritiesLtd/Scripts/hsl.js

css

downloads
/HerefordSecuritiesLtd/images
/HerefordSecuritiesLtd.v12.suo
/HerefordSecuritiesLtd.Admin/bin
/HerefordSecuritiesLtd.Admin/obj
/HerefordSecuritiesLtd/Properties/PublishProfiles/FileSystemDeployment.pubxml.user

/Deployment
/Builds
/HerefordSecuritiesLtd/Properties/PublishProfiles/FileSystemLocal.pubxml.user

/HerefordSecuritiesLtd/Properties/PublishProfiles/FileSystemRelease.pubxml.user
/HerefordSecuritiesLtd.Tests/bin
/HerefordSecuritiesLtd.Tests/obj
/HerefordSecuritiesLtd.Tests/HerefordSecuritiesLtd.Tests.csproj.user
