<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Useful Links</h2>
    </div>
    <div class="panel-body">
        <ul class="quick-links">
            <li><a href="http://www.sitecore.net/" target="_blank">Sitecore</a></li>
            <li><a href="https://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
            <li><a href="https://www.w3schools.com/" target="_blank">w3schools.com</a></li>
            <li><a href="https://martinfowler.com/" target="_blank">Martin Fowler</a></li>
            <li><a href="https://www.programmersheaven.com/" target="_blank">Programmers Heaven</a></li>
            <li><a href="https://sdn.sitecore.net" target="_blank">Sitecore Developer Network</a></li>
            <li><a href="https://dev.sitecore.net/" target="_blank">Sitecore Developer Portal</a></li>
        </ul>
    </div>

</div>
