/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
a:hover, a:focus {
    text-decoration: none;
}

.background-image {
    /*background-origin: content-box;*/
    -ms-background-position: 80% 0;
    background-position: 80% 0;
    -ms-background-size: 100%;
    background-size: 100%;
}

@Media (min-width: 768px) {
    .background-image {
        /*background-origin: content-box;*/
        -ms-background-position: 70% 0;
        background-position: 70% 0;
        -ms-background-size: 90%;
        background-size: 90%;
    }
}

@Media (min-width: 992px) {
    .background-image {
        /*background-origin: content-box;*/
        -ms-background-position: 100% 0;
        background-position: 100% 0;
        -ms-background-size: 80%;
        background-size: 80%;
    }
}

@Media (min-width: 1200px) {
    .background-image {
        /*background-origin: content-box;*/
        -ms-background-position: 70% 0;
        background-position: 70% 0;
        -ms-background-size: 70%;
        background-size: 70%;
    }
}

.client-weblink {
    font-size: 0.7em;
    font-style: italic;
}

.client-footnote {
    font-size: 0.7em;
    font-style: italic;
}

.content-list {
    list-style-position: inside;
    margin-left: 40px;
    list-style-type: disc;
    margin-bottom: 5px;
    overflow: hidden;
}

    .content-list li {
        margin-bottom: 5px;
    }

.contact-main {
}

.contact-details {
    margin-top: 40px;
}

.contact-map {
    margin-top: 20px;
}

.cvMain {
}

.cvAchievements li {
    padding-bottom: 5px;
}

.cvAddress {
    float: right;
    margin-right: 20px;
}

.cvClient {
    font-size: 1.4em;
}

.cvJob {
    margin-bottom: 10px;
    padding-left: 10px;
}

.cvJobDetail {
    padding-left: 15px;
}

ul.cvList {
    margin-left: 20px;
    list-style-type: circle;
    margin-bottom: 5px;
}

.cvRole {
    font-weight: bold;
}

.cv-skills {
    
}

.cvSection {
    margin-bottom: 15px;
}

.cvTitle {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: x-large;
    margin-top: 70px;
    margin-bottom: 20px;
}

.cvWebsites {
    display: block;
    padding-bottom: 10px;
}

    .cvWebsites span {
        float: left;
    }

    .cvWebsites ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: block;
    }

    .cvWebsites li {
        float: left;
        padding-left: 10px;
    }

.cvWorkTimeSpan {
    font-size: 0.7em;
    margin-left: 5px;
}

.img-responsive-qualification {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .lead {
        font-size: 16px;
    }
}

.logo-image {
    height: 100px;
    margin-top: 5px;
}

.main-body {
    min-height: 800px;
    padding-top: 170px;
    background: transparent url(../Content/images/mountain-image.jpg) top no-repeat;
    width: 100%;
    font-size: 0.8em;
    margin-top: 20px;
}

.navbar .navbar-collapse {
    text-align: center;
}

@media (min-width: 768px) {
    .navbar .navbar-collapse {
        text-align: inherit;
    }
}

.navbar-default-transition {
    background-color: #f8f8f8;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    -webkit-transition: background 1s;
    transition: background 1s;
}

.navbar-default-transition-back {
    -ms-transition: background 1s;
    -o-transition: background 1s;
    -webkit-transition: background 1s;
    transition: background 1s;
}

.navbar-default-border {
    border-color: #e7e7e7;
}

.navbar-fast-transition {
    background-color: #f8f8f8;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    -webkit-transition: background 1s;
    transition: background 0.2s;
}

.navbar-fast-transition-back {
    -ms-transition: background 1s;
    -o-transition: background 1s;
    -webkit-transition: background 1s;
    transition: background 0.2s;
}

.panel-qualification {
    background-color: #eff2f3;
    text-align: center;
}

.panel-qualification-border {
    border: 1px solid #eff2f3;
    text-align: center;
}

.quick-links {
    list-style-type: none;
    -webkit-padding-start: 10px;
}


.mcTitle {
    font-family: Arial Black, Arial, Sans-Serif;
}

.mcText {
    font-style: italic;
}

.smoothscroll {
}

#gmap {
    margin-top: 100px;
}

#map_canvas {
    width: auto;
    height: 553px;
    border: 1px solid black;
    margin-bottom: 20px;
}

    #map_canvas iframe {
        width: 100%;
        height: 100%;
    }

#footermenu {
}

.footer-hr {
    margin-bottom: 0;
}

.footer-copyright {
    padding-top: 15px;
    float: none;
}

@Media (min-width: 768px) {
    .footer-copyright {
        float: left;
    }
}

.pdfDownload {
    vertical-align:top;
    padding-left: 2px;
}

.pdfImage {
    margin-top:-3px;
}

.services-main {
    margin-top: 60px;
}

.service {
    overflow: hidden;
    margin-bottom: 10px;
}

.sidebar {
    margin-top: 40px;
}

.white-border {
    border: 1px solid white;
}

#workExperience .fa {
    padding-right: 5px;
}