a:hover, a:focus {
    text-decoration: none;
}

.background-image {
    background: transparent url(../Content/images/mountain-image.jpg) top no-repeat;
    -ms-background-position: 80% 40px;
    background-position: 80% 40px;
    -ms-background-size: 100%;
    background-size: 100%;
}

@Media (min-width: 450px) {
    .background-image {
        -ms-background-position: 80% 0;
        background-position: 80% 0;
    }
}

@Media (min-width: 768px) {
    .background-image {
        -ms-background-position: 70% 0;
        background-position: 70% 0;
        -ms-background-size: 90%;
        background-size: 90%;
    }
}

@Media (min-width: 992px) {
    .background-image {
        -ms-background-position: 100% 0;
        background-position: 100% 0;
        -ms-background-size: 80%;
        background-size: 80%;
    }
}

@Media (min-width: 1200px) {
    .background-image {
        -ms-background-position: 70% 0;
        background-position: 70% 0;
        -ms-background-size: 70%;
        background-size: 70%;
    }
}

.black-links a{
    color: #000000
}
.client-weblink {
    font-size: 0.7em;
    font-style: italic;
}

.client-footnote {
    font-size: 0.7em;
    font-style: italic;
}

.contact-main {
}

.contact-details {
    margin-top: 0;
}

@Media(min-width: 450px) {
    .contact-details {
        margin-top: 40px;
    }
}

.contact-map {
    margin-top: 20px;
}

.cvMain {
}

.cv-achievements li {
    padding-bottom: 5px;
}

.cv-client {
    font-size: 1.4em;
}

.cv-datespan {
    font-size: 0.7em;
    margin-left: 5px;
}

.cv-job {
    margin-bottom: 10px;
    padding-left: 10px;
}

.cv-job-detail {
    padding-left: 15px;
}

.cv-role {
    font-weight: bold;
}

.cv-skills {
}

.cv-title {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 20px;
}

@Media(min-width: 768px) {
    .cv-title {
        margin-top: 70px;
    }
}

.cv-website {
    display: block;
    padding-bottom: 10px;
}

    .cv-website span {
        float: left;
    }

    .cv-website ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: block;
    }

    .cv-website li {
        float: left;
        padding-left: 10px;
    }

#footermenu {
}

.footer-copyright {
    padding-top: 15px;
    float: none;
}

.footer-hr {
    margin-bottom: 0;
}

.footer-version {
    font-size: 0.5em;
    text-align: right;
}

.img-responsive-qualification {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .lead {
        font-size: 16px;
    }
}

.logo-image {
    height: 80px;
    margin-top: 5px;
}

@Media(min-width: 768px) {
    .logo-image {
        height: 100px;
    }
}

.main-body {
    min-height: 800px;
    padding-top: 140px;
    width: 100%;
    font-size: 0.8em;
    margin-top: 20px;
}

@Media (min-width: 450px) {
    .main-body {
        padding-top: 170px;
    }
}

.main-body-title {
    text-align: right;
}

@Media(min-width: 768px) {
    .main-body-title {
        text-align: left;
    }
}

.navbar .navbar-collapse {
    text-align: center;
}

@media (min-width: 768px) {
    .navbar .navbar-collapse {
        text-align: inherit;
    }
}

.navbar-default-transition {
    background-color: #f8f8f8;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    -webkit-transition: background 1s;
    transition: background 1s;
}

.navbar-default-transition-back {
    -ms-transition: background 1s;
    -o-transition: background 1s;
    -webkit-transition: background 1s;
    transition: background 1s;
}

.navbar-default-border {
    border-color: #e7e7e7;
}

.navbar-fast-transition {
    background-color: #f8f8f8;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    -webkit-transition: background 1s;
    transition: background 0.2s;
}

.navbar-fast-transition-back {
    -ms-transition: background 1s;
    -o-transition: background 1s;
    -webkit-transition: background 1s;
    transition: background 0.2s;
}

.panel-qualification {
    background-color: #eff2f3;
    text-align: center;
}

.panel-qualification-border {
    border: 1px solid #eff2f3;
    text-align: center;
}

.quick-links {
    list-style-type: none;
    -webkit-padding-start: 10px;
}


.mcTitle {
    font-family: Arial Black, Arial, Sans-Serif;
}

.mcText {
    font-style: italic;
}

.smoothscroll {
}

#map_canvas {
    width: auto;
    height: 553px;
    border: 1px solid black;
    margin-bottom: 20px;
}

    #map_canvas iframe {
        width: 100%;
        height: 100%;
    }

@Media (min-width: 768px) {
    .footer-copyright {
        float: left;
    }
}

.pdf-download {
    vertical-align: top;
    padding-left: 2px;
}

.pdf-image {
    margin-top: -3px;
}

.services-main {
    margin-top: 10px;
}

@Media(min-width: 768px) {
    .services-main {
        margin-top: 60px;
    }
}

.service {
    overflow: hidden;
    margin-bottom: 10px;
}

    .service ul {
        list-style-type: disc;
        margin-bottom: 5px;
        overflow: hidden;
        padding-left: 15px;
    }

    .service li {
        margin-bottom: 5px;
    }

@Media(min-width: 768px) {
    .service ul {
        padding-left: 40px;
    }
}

.service li {
    margin-bottom: 5px;
}

.sidebar {
    margin-top: 40px;
}

.white-border {
    border: 1px solid white;
}

#workExperience .fa {
    padding-right: 5px;
}
