<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Quick Links</h2>
    </div>
    <div class="panel-body">
        <ul class="quick-links">
            <li><a class="smoothscroll" href="#cvProfile">Profile</a></li>
            <li><a class="smoothscroll" href="#cvEducation">Education</a></li>
            <li><a class="smoothscroll" href="#cvExpertise">Expertise</a></li>
            <li><a class="smoothscroll" href="#cv-achievements">Achievements</a></li>
            <li><a class="smoothscroll" href="#cvExperience">Work Experience</a></li>
            <li><a class="smoothscroll" href="#cvInterests">Interests</a></li>
        </ul>
    </div>

</div>
